<div class="data-list">
  <div class="data-list-wrapper">

    <ng-template [ngIf]="type === 'home'">
      <div class="data-list-navigate">
        <p class="data-list-title">
          {{ title }}
        </p>
        <p class="data-list-subtitle">
          Barin korsetu
        </p>
      </div>
    </ng-template>

    <section class="data-list-block">

      <ng-template [ngIf]="type === 'collection'">
        <div class="data-list-item" (click)="addPlaylist()">
          <div class="data-list-item__add">
            <img src="./assets/icons/add-icon.svg" class="icon-48">
          </div>
        </div>
      </ng-template>

      <div class="data-list-item" *ngFor="let item of playlistData">
        <td-playlist-card
          [data]="item"
          [apiType]="apiType"
        ></td-playlist-card>
      </div>
    </section>
  </div>
</div>
