<div class="collection">
  <div class="collection-tabs">
    <div
      class="collection-tab"
      [ngClass]="{ 'active': activeTab?.code === tab?.code }"
      (click)="onTabChange(tab)"
      *ngFor="let tab of tabList">
      {{ tab.name }}
    </div>
  </div>

  <div class="collection-body">
<!--    <div class="collection-title">-->
<!--      {{ activeTab?.name }}-->
<!--    </div>-->

    <section class="home-section  mb-32">
      <ng-template [ngIf]="activeTab.code === 'playlists'">
        <td-playlists
          [onClick]="addPlaylist"
          [type]="'collection'"
          [playlistData]="myPlaylists"
        ></td-playlists>
      </ng-template>
      <ng-template [ngIf]="activeTab.code === 'artists'">
        <td-artists
          [type]="'collection'"
          [data]="myPlaylists"
        ></td-artists>
      </ng-template>
      <ng-template [ngIf]="activeTab.code === 'albums'"></ng-template>
    </section>
  </div>
</div>
