<div class="modal-wrapper">
  <div class="modal-header">
    <h4 class="modal-title pull-left">An jinaq derekteri</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" [formGroup]="form">
    <div class="playlist-wrapper">
      <div class="playlist-image">
        <div class="playlist-image__reimage">
          <input type="file" formControlName="cover"/>
          <p>Anjolaq</p>
        </div>
        <ng-template [ngIf]="data?.img_link || form.controls['cover'].value">
          <img src="{{ data.img_link || form.controls['cover'].value }}">
        </ng-template>
        <ng-template [ngIf]="!data?.img_link || !form.controls['cover'].value">
          <td-icon
            type="svg"
            [name]="'playlist'"
            class="icon-64"
            [className]="'icon-64'"
          ></td-icon>
        </ng-template>
      </div>
      <div class="playlist-details">
        <div class="playlist-control">
          <input
            type="text"
            placeholder="Anjinaq aty"
            formControlName="name"
            [ngModel]="data.name"
          >
        </div>
        <div class="playlist-control">
          <textarea
            formControlName="desc"
            placeholder="Anjinaq qosymsha deregi"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="!form.valid" class="btn btn-primary" (click)="validate()">
      Saqtay
    </button>
  </div>
</div>
