.playlist {
  &-wrapper {
    display: flex;
    gap: 16px;
  }

  &-image {
    position: relative;
    width: 180px;
    min-width: 180px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0,0%,100%,.1);
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__reimage {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background: rgb(0, 0 , 0, 0.7);
      cursor: pointer;
      input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
      }

      p {
        position: absolute;
        bottom: 30px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:hover {
      .playlist-image__reimage {
        display: flex;
      }
    }
  }

  &-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-control {
    &:last-child {
      flex: 1 1 auto;
    }

    input {
      padding: 16px;
      height: 40px;
    }
    textarea {
      padding: 8px 16px;
      height: 100%;
      resize: none;
    }

    input, textarea {
      width: 100%;
      background: hsla(0,0%,100%,.1);
      border: 1px solid transparent;
      border-radius: 4px;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
    input:focus, textarea:focus {
      background-color: #333;
      border: 1px solid #535353;
      outline: none;
    }
    input:focus-visible, textarea:focus-visible {
      outline: none;
    }
  }
}

.profile {
  & .playlist-image {
    border-radius: 50%;
  }
  & .playlist-details {
    justify-content: center;
  }
  & .playlist-control {
    max-height: 40px;
  }
}

@media screen and (width < 480px) {
  .playlist-wrapper {
    flex-direction: column;
  }
}
