@import "src/styles/variables";

.home {
  &-container {

  }
  &-wrapper {
    padding: 24px;
    position: relative;
    flex: 1 1 auto;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-blend-mode: luminosity;
      -webkit-backdrop-filter: blur(24px);
      backdrop-filter: blur(24px);
    }
  }
  &-gradient {
    background-image: linear-gradient(rgba(0,0,0,.6) 0, $color-main-background 100%);
    height: 332px;
    margin-top: -96px;
    margin-left: -24px;
    position: absolute;
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
    width: 100%;
    background-color: red;
  }

  &-wave {
    position: relative;
    min-height: 250px;
    height: 250px;

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 14px;
        font-weight: 500;
        color: #545258;
      }
    }

    &__button {
      position: relative;
      z-index: 1;
      padding: 5px 17px 5px 5px;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 112px;
      border: none;
      background: rgba(0,0,0,0);
      --image-rotation: 0deg;
      overflow: hidden;
      backdrop-filter: blur(3.5px);

      &::before {
        content: '';
        background-image: url(https://cdn.zvuk.com/_next/static/media/dark_bg.c6cb6322.png);
        position: absolute;
        z-index: 0;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%,-50%) rotate(var(--image-rotation));
        -moz-transform: translate(-50%,-50%) rotate(var(--image-rotation));
        -ms-transform: translate(-50%,-50%) rotate(var(--image-rotation));
        -o-transform: translate(-50%,-50%) rotate(var(--image-rotation));
        transform: translate(-50%,-50%) rotate(var(--image-rotation));
        width: 100%;
        padding-bottom: 100%;
        -webkit-transition: -webkit-transform .3s cubic-bezier(.41,0,.58,1);
        transition: -webkit-transform .3s cubic-bezier(.41,0,.58,1);
        -o-transition: -o-transform .3s cubic-bezier(.41,0,.58,1);
        -moz-transition: transform .3s cubic-bezier(.41,0,.58,1),-moz-transform .3s cubic-bezier(.41,0,.58,1);
        transition: transform .3s cubic-bezier(.41,0,.58,1);
        transition: transform .3s cubic-bezier(.41,0,.58,1),-webkit-transform .3s cubic-bezier(.41,0,.58,1),-moz-transform .3s cubic-bezier(.41,0,.58,1),-o-transform .3s cubic-bezier(.41,0,.58,1);
        pointer-events: none;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
      }

      &:hover {
        --image-rotation: 164deg;
      }

      span {
        z-index: 1;
        width: 38px;
        height: 38px;
      }
      h4 {
        z-index: 1;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
      }
    }
  }
  &-video {
    position: relative;
    video {
      height: 330px;
      object-fit: fill;
      min-width: 100%;
      max-width: 100%;
      position: absolute;
      margin: 120px 0 0 0;
    }
  }

  &-section {
    position: relative;
    z-index: 1;
  }
}

.mb {
  &-32 {
    margin-bottom: 32px;
  }
  &-48 {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1280px) {
  .home {
    &-container {
      width: 100vw;
    }
    &-wave {
      padding-top: 20px;
    }
  }
}
