<div class="home-container">
  <div class="home-gradient"></div>
  <div class="home-video">
<!--    <video-->
<!--           autoplay-->
<!--           playsinline-->
<!--           disablepictureinpicture-->
<!--           disableremoteplayback-->
<!--           >-->
<!--      <source src="https://zvuk.com/assets/videos/personalWave/da_wave.webm" type="video/webm">-->
<!--    </video>-->
  </div>
  <div class="home-wrapper">

    <section class="home-section mb-48">
      <td-banner-list
      ></td-banner-list>
    </section>

    <section class="home-section  mb-32">
      <td-playlists
        [type]="'home'"
        [title]="'Tek sizge arnalgan ander jinagy'"
        [playlistData]="firstPlaylistList"
      ></td-playlists>
    </section>

    <section class="home-section  mb-32">
      <td-playlists
        [type]="'home'"
        [title]="'En uzdik auender'"
        [playlistData]="secondPlaylistList"
      ></td-playlists>
    </section>
  </div>
</div>
