$color-ice-blue: #f6faff;
$color-blue: #00a9ff;
$color-blue-light: #25aded;
$color-blue-dark: #03034b;
$color-blue-deep-dark: #17172f;

$color-yellow: #ffcc01;
$color-yellow-dark: #FBB100;

$color-violet: #756ce2;
$color-green: #11bb91;
$color-green-dark: #00b679;
$color-red: #f42b74;
$color-invalid: #ff5721;
$color-orange: #ff8d00;
$color-error-red: #FF5721;
$color-body-background: #F3F4F7;

$color-gray: #e8ebeb;
$color-gray_main: #f3f3f3;
$color-gray-darker: #505C64;
$color-gray-dark: #acbbbe;
$color-gray-middle: #88999c;
$color-gray-light: #b9bac4;
$color-gray-lighter: #f9f9f9;
$color-gray-light-dark: #829199;

$color-warm-gray: #9e9e9e;
$color-cool-gray: #b6b8bb;
$color-pale-gray: #e7e7e7;
$color-pale-gray-transparent: rgba($color-pale-gray, 0.3);
$color-grayn: #99a3b3;
$color-tab-gray: #F2F7F7;
$color-border-gray: #E9EFF0;


$color-white: #ffffff;
$color-white-transparent: rgba($color-white, 0.3);

$color-black-main: #121212;
$color-black: #000000;
$color-light-black: #263238;
$color-light-grey: #D0D6D8;
$Background-light-grey: #F3F6F7;


//## Font, line-height, and color for body text, headings, and more.
$font-family-serif: "Manrope" !default;
//font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,),sans-serif;
$font-family-base: $font-family-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-tiny: 10px;
$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-medium-large: 20px;
$font-size-large2: 26px;
$font-size-large: 28px;
$font-size-extra-large: 40px;

$font-size-h1-large: 40px;
$font-size-h2-large: 32px;
$font-size-h3-large: 24px;
$font-size-h3-medium: 26px;
$font-size-h4-large: 22px;
$font-size-h5-large: 20px;
$font-size-h6-large: 18px;

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

$padding-large-vertical: 13.5px !default;
$brand-primary: $color-green;

$nav-tabs-border-color: #ebebeb;

$btn-main-color: $color-white !default;
$btn-main-bg: $color-green !default;
$btn-main-border: $color-green !default;

$btn-disabled-color: $color-gray-dark !default;
$btn-disabled-bg: $color-gray !default;
$btn-disabled-border: $color-gray !default;
//** Default `.form-control` height
$input-height-base: 45px;
$input-height-large: 50px;

//## Default `.form-control` paddings
$input-padding: 13px 10px !default;
$input-padding-large: 13.5px 15px !default;

//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$padding-base-vertical: 10px !default;
$padding-base-horizontal: 20px !default;

$form-floating-label-transform: scale(0.75) translateY(-0.3rem) translateX(0.5rem) !default;
// :root{
// var$bs-body-line-height: 300%;
// }
// $bs-body-line-height: 150% !important;

:root{
    --bs-body-line-height: 150%;
    --bs-body-letter-spacing: 0.02em;
    --bs-body-font-family: Manrope;
    --font-size-xxl: 4.5rem;
    --font-size-xl: 2.6rem;;
    --font-size-l: 2.0rem;
    --font-size-m: 1.6rem;
    --font-size-s: 1.4rem;
    --font-size-xs: 1.2rem;
    --font-size-wv-m: 1.5rem;
    --black: #2A353D;
    --black-2: #263238;
    --lightblue: #F2F7F7;
    --green: #11BB91;
    --line-height-m: 1.3;
    --line-height-l: 1.4;
    --line-height-xl: 1.5;
    --gray: #88999C;
    --border-gray: #D0D6D8;
    --input-border-gray: #ACBBBE;
    --very-dark-gray: #2F3E3A;
    --dark-gray: #505C64;
    --font-gray: #829199;
    --light-gray: #E9EFF0;
    --offwhite: #f9f9f9;
    --white: #FFF;
    --red: #FF5721;
    --light-red: #FCE2D3;
    --light-yellow: #FEEFD0;
    --yellow: #F2AA1A;
    --font-green: #1AA180;
    --light-green: #E0F9EB;
    --transition-speed: 300ms;
    --shadow: 0 0.6rem 2.4rem rgba(10, 15, 45, 0.0922749);
    --font-weight-m: 500;
    --font-weight-b: 600;
    --font-weight-eb: 800;
    ---wv-error-panel-bg: #3F4A47;
}

// Tynda variables
$section-padding: 32px;
$grid-gap: 24px;
$column-count-playlist: 5;
$column-count-artist: 6;
$min-container-width: 347px;
$column-width: 136px;

// Color Vars
$color-main-background: rgb(31, 31, 31);
$color-second-background: #252536;
$color-black-background: #282828;
