<div class="artist-wrapper">

  <div class="artist-title">
    Sizdin suyikti anshileriniz!
  </div>

  <section class="artist-blocks">

    <div class="playlist" (click)="navigateToArtist(artist?.id)" *ngFor="let artist of data">
      <div class="playlist-top">
        <div class="playlist-img">
          <ng-template [ngIf]="artist?.img_link">
            <img src="{{ artist.img_link }}">
          </ng-template>
          <ng-template [ngIf]="!artist?.img_link">
            <td-icon
              type="svg"
              [name]="'artist'"
              class="icon-64"
              [className]="'icon-64'"
            ></td-icon>
          </ng-template>
        </div>
        <div
          *ngIf="artist?.musics?.length > 0"
          class="playlist-button"
          (click)="playArtistSongs(artist?.id)">
          <span class="icon-20">
            <td-icon
              [type]="'svg'"
              [name]="'play'"
              class="icon-20"
              [className]="'icon-20 black'"
            ></td-icon>
          </span>
        </div>
      </div>
      <div class="playlist-bottom">
        <div class="playlist-title">
          {{ artist?.name }}
        </div>
        <div class="playlist-artists">
          Anshi
        </div>
      </div>
    </div>

  </section>

</div>
