<div class="playlist">
  <div #backCol class="playlist-background__color"></div>
  <div class="playlist-background__gradient"></div>
  <div class="playlist-block">
    <div class="playlist-left {{ type === 'artist' ? 'artist' : '' }}">
      <ng-template [ngIf]="playlistDetails?.img_link">
        <img id="backImage" [src]="playlistDetails.img_link">
      </ng-template>
      <ng-template [ngIf]="!playlistDetails?.img_link">
        <td-icon
          type="svg"
          [name]="type === 'artist' ? 'artist' : 'playlist'"
          class="icon-64"
          [className]="'icon-64'"
        ></td-icon>
      </ng-template>
      <!--
      <div class="playlist-left__reimage">
        <input
          placeholder="Суретті таңдаңыз"
          type="file">
        <p>Suretti tanday</p>
      </div>
      -->
    </div>
    <div class="playlist-right">
      <h4 class="playlist-subtitle">
        {{ getContentType(type) }}
      </h4>
      <h1 class="playlist-title cursor" (click)="openPlaylistModal()">
        {{ playlistDetails?.name }}
      </h1>
      <h4
        *ngIf="type === 'playlist' && playlistDetails?.description"
        class="playlist-desc">{{ playlistDetails?.description }}</h4>
      <h4
        *ngIf="type === 'artist'"
        class="playlist-desc">
        <span>
          {{ formatNumber(playlistDetails?.listeners) || 0 }}
        </span>
        aı saıynǵy tyńdaýshylar
      </h4>
      <p *ngIf="type === 'playlist' || type === 'artist'" class="playlist-musics">
        <ng-template [ngIf]="playlistDetails?.musics?.length">
          <span>•</span> {{ playlistDetails?.musics?.length }} án
        </ng-template>
        <ng-template [ngIf]="playlistDetails?.followers">
          <span>•</span> {{ formatNumber(playlistDetails?.followers) }} jazylýwylar
        </ng-template>
      </p>
      <p *ngIf="type === 'track'" class="playlist-musics">
        <a *ngFor="let artist of playlistDetails?.artists" (click)="navigateToArtist(artist.id)"><span>•</span>{{ artist.name }}</a>
        <span>•</span> {{ playlistDetails?.year || '2017' }}
        <span>•</span> {{ getTimeInMilliseconds(playlistDetails?.duration) }}
      </p>
    </div>
  </div>
</div>
