<nav class="sidebar">

  <div class="sidebar-top">
    <div class="sidebar-logo">
      <td-icon
        name="tynda_logo.svg"
        [className]="'icon-140-33'"
      ></td-icon>
    </div>
  </div>

  <div class="sidebar-nav">
    <a
      class="sidebar-nav__item"
      [ngClass]="{'active': activeNav === nav.router}"
      routerLink="{{ nav.router }}"
      *ngFor="let nav of navList"
      (click)="onNavChange(nav)"
    >
      <td-icon
        name="{{ nav.icon }}"
      ></td-icon>
      <span>
        {{ nav.name }}
      </span>
    </a>
  </div>
</nav>

