@import 'src/styles/variables.scss';

.sidebar {
  width: 240px;
  height: 100%;
  background: #252526;

  &-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    height: 100%;
    background: #252526;
  }

  &-top {
    margin: 24px;
  }

  &-nav {
    padding: 10px 0 10px 10px;

    &__item {
      width: 220px;
      height: 44px;
      padding: 0 0 0 12px;
      margin-top: 3px;

      border-radius: 8px;
      border: 1px solid rgba(0,0,0,0);

      display: flex;
      align-items: center;
      gap: 16px;

      text-decoration: none;
      cursor: pointer;
      opacity: .5;
      transition: 0.1s ease-in;

      span {
        color: #fff;
        font-size: 16px;
        font-weight: $font-weight-medium;
      }
      //&:not(:last-child) {
      //  margin-bottom: 16px;
      //}

      &.active {
        background: #454545;
        opacity: 1;
      }
      &:hover {
        border: 1px solid #454545;
        opacity: 1;
      }
    }
  }
}

.mb-32 {
  margin-bottom: 32px;
}
