<div class="not-found">
  <div class="not-found-wrapper">
    <div class="not-found-text">
      <div class="not-found-title">
        Lost in music?
      </div>
      <div class="not-found-subtitle">
        It looks like that page doesn't exist - please check the URL and try again.
      </div>
      <div class="not-found-button" routerLink="/home">
        Go to musics
      </div>
    </div>
    <div class="not-found-icon">
      <img src="./assets/others/music_player.gif">
    </div>
  </div>
</div>
