<div class="not-found">
  <div class="not-found-wrapper">
    <div class="not-found-text">
      <div class="not-found-title">
        Adasyp qaldyńyz ba?
      </div>
      <div class="not-found-subtitle">
        Bul paraqsha joq sıaqty - URL mekenjaıyn tekserip, áreketti qaıtalańyz.
      </div>
      <div class="not-found-button" routerLink="/home">
        Anderge ótý
      </div>
    </div>
    <div class="not-found-icon">
      <img src="./assets/others/music_player.gif">
    </div>
  </div>
</div>
