<div class="playlist-history">
  <!-- Gradient -->
  <div #backCol class="playlist-background__color"
       [ngStyle]="{
       'backgroundColor': data?.bgColor?.startsWith('#')
       ? data.bgColor
       : '#' + data.bgColor
       }"
  ></div>
  <div class="playlist-background__gradient"></div>
  <!-- Gradient -->

  <div class="playlist-wrapper">
    <!-- Блок действия плэйлиста -->
    <div class="playlist-actions">
      <ng-template [ngIf]="tableData?.length !== 0">
        <div class="playlist-actions-play" (click)="onPlay()">
          <span class="icon-20">
            <td-icon
              [type]="'svg'"
              [name]="'play'"
              class="icon-20"
              [className]="'icon-20 black'"
            ></td-icon>
          </span>
        </div>

      </ng-template>
      <div *ngIf="type === 'playlist' || type === 'track'" class="playlist-actions-like">
          <span class="icon-24">
            <td-icon
              [type]="'svg'"
              [name]="'like'"
              class="icon-24"
              [className]="'icon-24 gray-white'"
            ></td-icon>
          </span>
      </div>

      <div *ngIf="type === 'artist'" class="playlist-actions-like">
        <button class="playlist-button" type="button" (click)="followArtist()">
          {{ isFollowed ? 'Following' : 'Follow' }}
        </button>
      </div>

      <div
        #actions
        class="playlist-actions-like"
        (click)="openActions()">
          <span class="icon-24">
            <td-icon
              [type]="'svg'"
              [name]="'actions'"
              class="icon-24"
              [className]="'icon-24 gray-white'"
            ></td-icon>
          </span>
        <td-actions
          [type]="type"
          [isOpen]="isOpenActions"
          [onDelete]="deletePlaylist"
        ></td-actions>
      </div>
    </div>
    <!-- Блок действия плэйлиста -->

    <div class="playlist-flex">
      <!-- Текст песни -->
      <section class="playlist-lyrics" *ngIf="data?.lyrics?.text">
        <p class="playlist-lyrics__title">An sozderi</p>
        <div class="playlist-lyrics__text">
          <p class="playlist-lyrics__line" *ngFor="let text of data?.lyrics.text">
            {{ text }}
          </p>
        </div>
        <div class="playlist-lyrics__footer" *ngIf="data?.lyrics?.footer">
          <p>{{ data.lyrics.footer }}</p>
        </div>
      </section>
      <!-- Текст песни -->
      <div class="playlist-artists">
        <ng-container *ngFor="let artist of data?.artists">
          <div class="playlist-artists__item">
            <img src="{{ artist?.img_link }}">
            <div class="playlist-artists__item_body">
              <p>Anshi</p>
              <a routerLink="/artist/{{artist.id}}" [queryParams]="{apiType: 'search'}">{{ artist.name }}</a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Таблица музыки плэйлиста -->
    <div class="playlist-table" *ngIf="type !== 'track'">
      <h1 class="playlist-table__title" *ngIf="type === 'artist'">
        {{ data.name }} - uzdik anderi
      </h1>
      <td-table
        [type]="type"
        [apiType]="apiType"
        [tableData]="tableData"
      ></td-table>
    </div>
    <!-- Таблица музыки плэйлиста -->

    <!-- Track page - Таблица топ песни артиста -->
    <ng-container *ngFor="let artist of data?.artists">
      <div class="playlist-table" *ngIf="artist?.top_tracks">
        <h1 class="playlist-table__title">
          {{ artist.name }} - uzdik anderi
        </h1>
        <td-table
          [type]="type"
          [apiType]="apiType"
          [tableData]="artist?.top_tracks.slice(0, 5)"
        ></td-table>
      </div>
    </ng-container>
    <!-- Track page - Таблица топ песни артиста -->

    <!-- Track page - Похожие артисты музыки -->
    <ng-container *ngFor="let artist of data?.artists; let idx = index">
      <div class="playlist-table" *ngIf="idx < 5">
        <h1 class="playlist-table__title">
          {{ artist.name }} - uqsas anshiler
        </h1>
        <td-artists
          *ngIf="artist?.related_artists"
          [type]="type"
          [apiType]="apiType"
          [data]="artist.related_artists.slice(0, 6)"
        ></td-artists>
      </div>
    </ng-container>
    <!-- Track page- Похожие артисты музыки -->

    <!-- Artist page - Похожие артисты -->
    <div class="playlist-table" *ngIf="data?.related_artists">
      <h1 class="playlist-table__title">
        {{ data.name }} - uqsas anshiler
      </h1>
      <td-artists
        *ngIf="data?.related_artists"
        [type]="type"
        [apiType]="apiType"
        [data]="data?.related_artists.slice(0, 6)"
      ></td-artists>
    </div>
    <!-- Artist page - Похожие артисты -->

  </div>

</div>
