
svg {
  color: inherit;
  fill: currentColor;
  vertical-align: unset;
}

.gray {
  color: hsla(0,0%,100%,.3);
}
.gray-white {
  color: hsla(0,0%,100%,.7);
}
.white {
  color: hsla(0,0%,100%,1);
}
.black {
  color: hsla(0,0%,0,1);
}
