<div class="login">
  <div class="login-wrapper">
    <div class="login-col login-col-left">
      <div class="login-img">
        <td-icon
          [name]="'tynda_logo.svg'"
          class="icon-140-33"
          className="icon-140-33"
        ></td-icon>
      </div>
    </div>
    <div class="login-col login-col-right">
      <div class="login-img">
        <td-icon
          [name]="'tynda_ico.png'"
          class="icon-48"
          className="icon-48"
        ></td-icon>
      </div>
      <p class="login-text-title">
        Введите номер
      </p>
      <p class="login-text-subtitle">
        Ваш номер телефона будет использоваться для входа в аккаунт
      </p>

      <div class="login-form" [formGroup]="loginForm">
        <div class="login-form-control mb-16">
          <input
            type="email"
            autocomplete="off"
            [ngClass]="displayFieldClass('username')"
            formControlName="username"
            [placeholder]="'Username'">
        </div>
        <div *ngIf="isRegistr" class="login-form-control mb-16">
          <input
            autocomplete="off"
            [ngClass]="displayFieldClass('email')"
            type="email"
            formControlName="email"
            [placeholder]="'Email'"
          >
        </div>
        <div class="login-form-control mb-16">
          <input
            autocomplete="off"
            [ngClass]="displayFieldClass('password')"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            [placeholder]="'Password'"
          >
          <span *ngIf="fc.password.value" class="login-form-icon">
            <td-icon
              (click)="showPassword = !showPassword"
              type="svg"
              [name]="showPassword ? 'eyes-hide' : 'eyes'"
              [className]="'icon-24-16'"
            ></td-icon>
          </span>
        </div>
        <!-- TODO Need to realize in future
        <div *ngIf="isRegistr" class="login-form-control mb-16">
          <input
            autocomplete="off"
            [ngClass]="displayFieldClass('confPassword')"
            type="password"
            [type]="showConfPassword ? 'text' : 'password'"
            formControlName="confPassword"
            [placeholder]="'Confirm password'"
          >
          <span class="login-form-icon">
            <td-icon
              (click)="showConfPassword = !showConfPassword"
              type="svg"
              [name]="showConfPassword ? 'eyes-hide' : 'eyes'"
              [className]="'icon-24-16'"
            ></td-icon>
          </span>
        </div>
        -->
        <div class="login-form-button">
          <button
            class="btn btn-filled"
            (click)="fieldsValidation()"
            type="submit">
            {{ isRegistr ? 'Register' : 'Login' }}
          </button>
          <button
            class="btn btn-outlined"
            (click)="isAlreadyHasAccount()"
            type="submit">
            {{ isRegistr ? 'Login' : 'Register' }}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
