<section class="search">

  <div class="search-tabs">
    <div
      class="search-tab"
      [ngClass]="{ 'active': activeTab === tab.code }"
      *ngFor="let tab of searchTabs" (click)="onTabChange(tab)">
      <p>{{ tab.name }}</p>
    </div>
  </div>

  <div class="search-body">

    <ng-template [ngIf]="activeTab === 'all'">
      <section class="search-section" *ngIf="topResults">
        <div class="search-section-title">
          Top Resultat
        </div>
        <div class="search-top__left">
          <img [src]="topResults.img_link" class="search-top__img">
          <h1 class="search-top__title">{{ topResults.name }}</h1>
          <h4 class="search-top__subtitle">{{ topResults.type | uppercase }}</h4>
          <!--        <button class="search-top__button">Play</button>-->
        </div>
      </section>
      <section class="search-section" *ngIf="topArtists">
        <div class="search-section-title">
          Anshiler
        </div>
        <td-artists
          type="search"
          [data]="topArtists"
        ></td-artists>
      </section>
      <section class="search-section" *ngIf="topPlaylists">
        <div class="search-section-title">
          An jinaqtar
        </div>
        <td-playlists
          type="search"
          [playlistData]="topPlaylists"
        ></td-playlists>
      </section>
      <section class="search-section" *ngIf="topTracks">
        <div class="search-section-title">
          Ander
        </div>
        <td-table
          [type]="'collection'"
          [tableData]="topTracks"
        ></td-table>
      </section>
    </ng-template>

    <ng-template [ngIf]="activeTab === 'artist' && topArtists">
      <section class="search-section">
        <div class="search-section-title">
          Anshiler
        </div>
        <td-artists
          type="search"
          [data]="topArtists"
        ></td-artists>
      </section>
    </ng-template>

    <ng-template [ngIf]="activeTab === 'track' && topTracks">
      <section class="search-section">
        <div class="search-section-title">
          Ander
        </div>
        <td-table
          [type]="'collection'"
          [tableData]="topTracks"
        ></td-table>
      </section>
    </ng-template>

    <ng-template [ngIf]="activeTab === 'playlist' && topPlaylists">
      <section class="search-section">
        <div class="search-section-title">
          An jinaqtar
        </div>
        <td-playlists
          type="search"
          [playlistData]="topPlaylists"
        ></td-playlists>
      </section>
    </ng-template>

  </div>


</section>
