<div class="actions {{className}}" *ngIf="isOpen">
  <ng-template [ngIf]="type === 'playlist'">
    <div class="actions-item">
      <td-icon
        [type]="'svg'"
        [name]="'list'"
        class="icon-24"
        [className]="'icon-24 gray-white'"
      ></td-icon>
      <p>Add to queue</p>
    </div>
    <div class="actions-item" (click)="onDelete()">
      <td-icon
        [type]="'svg'"
        [name]="'delete'"
        class="icon-24"
        [className]="'icon-24 gray-white'"
      ></td-icon>
      <p>Delete playlist</p>
    </div>
  </ng-template>
  <ng-template [ngIf]="type === 'artist'">
    <div class="actions-item" (click)="onFollow()">
      <td-icon
        [type]="'svg'"
        [name]="'list'"
        class="icon-24"
        [className]="'icon-24 gray-white'"
      ></td-icon>
      <p>Follow</p>
    </div>
  </ng-template>
  <ng-template [ngIf]="type === 'profile'">
    <div class="actions-item" (click)="openModal()">
      <td-icon
        [type]="'svg'"
        [name]="'change'"
        class="icon-20"
        [className]="'icon-20 gray-white'"
      ></td-icon>
      <p>Ozgertu</p>
    </div>
    <div class="actions-item" (click)="copyClipBoard()">
      <td-icon
        [type]="'svg'"
        [name]="'clipboard'"
        class="icon-24"
        [className]="'icon-24 gray-white'"
      ></td-icon>
      <p>Siltemeni kóshirý</p>
    </div>
  </ng-template>
</div>

