.actions {
  position: absolute;
  z-index: 777;
  background-color: #282828;
  border-radius: 4px;
  -webkit-box-shadow: 0 16px 24px rgba(0,0,0,.3),0 6px 8px rgba(0,0,0,.2);
  box-shadow: 0 16px 24px rgba(0,0,0,.3),0 6px 8px rgba(0,0,0,.2);
  max-height: calc(100vh - 24px);
  max-width: 350px;
  min-width: 200px;
  overflow-y: auto;
  padding: 4px;

  &-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;

    p {
      font-size: 12px;
      font-weight: 500;
    }

    &:hover {
      background: #2F3E3A;
    }
  }
}
