@import "src/styles/variables";

.main {
  &-container {
    //display: flex;
    display: grid;
    gap: var(--panel-gap);
    grid-template-areas:
  "top-bar     top-bar     top-bar    "
  "nav-bar     main-view     right-sidebar  "
  "player-bar player-bar player-bar"
  ;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
  }

  &-sidebar {
    grid-area: nav-bar;
    //position: fixed;
    //top: 0;
    //left: 0;

    //width: 20%;
    //height: 100%;
    /*background: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;*/
    /*background: #481173;*/
    background: $color-black;
  }

  &-wrapper {
    grid-area: main-view;
    background-color: #121212;
    color: #fff;

    margin: 0 0 100px 188px;
  }

  &-body {
    margin-top: 64px;
    margin-bottom: 100px;
  }

  &-player-bar {
    grid-area: player-bar;
  }
}
