@import "src/styles/variables";

.main {
  &-container {
    //display: flex;
    display: grid;
    gap: var(--panel-gap);
    grid-template-areas:
  "top-bar     top-bar     top-bar    "
  "nav-bar     main-view     right-sidebar  "
  "player-bar player-bar player-bar"
  ;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
  }

  &-sidebar {
    grid-area: nav-bar;
    //position: fixed;
    //top: 0;
    //left: 0;

    //width: 20%;
    //height: 100%;
    /*background: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;*/
    /*background: #481173;*/
    background: $color-black-main;
    padding: 0 15px;
  }

  &-wrapper {
    grid-area: main-view;
    background-color: #121212;
    color: #fff;
    margin-bottom: 90px;
  }

  &-header {
    height: 64px;
    //filter: blur(16px);
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 32);

    .search-input {
      margin-left: 24px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      border-radius: 24px;
      background-color: #000;


      input {
        padding: 6px 16px;
        font-size: 13px;
        border-radius: 24px;
        background-color: #000;
        border: none;
        color: rgb(101, 99, 105);
        &:focus-visible {
          outline: none;
        }
      }
      &__icon {
        width: 14px;
        height: 14px;
      }
    }
  }
  &-player-bar {
    grid-area: player-bar;
  }
}
