<!--[ngClass]="{ 'p-32': type !== 'collection' && type !== 'chart' }"-->
<div
  class="table"
>
  <ng-template [ngIf]="tableData?.length !== 0">
    <table>
      <!--
      <thead *ngIf="type !== 'collection' && type !== 'chart'">
      <tr>
        <td>#</td>
        <td>Aty</td>
        <td>Álbom</td>
        <td>
          <td-icon
            [type]="'svg'"
            [name]="'duration'"
            class="icon-16"
            [className]="'icon-16 gray-white'"
          ></td-icon>
        </td>
      </tr>
      </thead>
      -->
      <tbody>
      <tr class="table-row" *ngFor="let item of tableData; let idx = index">
        <td class="col-number">
          <div class="col-number__normal">
            {{ idx + 1 }}
          </div>
          <div class="col-number__hover" (click)="playMusic(item)">
            <td-icon
              type="svg"
              name="play"
              class="icon-16"
              className="icon-16 white"
            ></td-icon>
          </div>
        </td>
        <td class="col-title">
          <div class="col-img">
            <img src="{{item?.img_link}}">
          </div>
          <div class="col-text">
            <p class="col-text-main" (click)="navigateToTrack(item.id)">
              {{ item?.name }}
            </p>
            <p class="col-text-secondary">
              <ng-container *ngFor="let artist of item?.artists; let idx = index">
                <span (click)="navigateToArtist(artist?.id)">
                  {{ formatArtistName(artist?.name) | titlecase }}
                </span>
                {{ artist.name && (idx !== item?.artists.length - 1) ? ',' : '' }}
              </ng-container>
              <span *ngIf="item?.artistName">
                {{ item.artistName }}
              </span>
            </p>
          </div>
        </td>
        <td>{{ item?.albumName || item?.name }}</td>
        <td #trackMenu>
          <span class="table-icon explicit">
            <ng-template [ngIf]="item?.explicit">
              <td-icon
                type="svg"
                name="explicit"
                class="icon-12"
                className="icon-12 white"
              ></td-icon>
            </ng-template>
          </span>
          <span class="table-icon like" (click)="onTrackLiked($event, item, idx)">
            <ng-template [ngIf]="!item?.liked">
              <td-icon
                type="svg"
                name="like"
                class="icon-16"
                className="icon-16 white"
              ></td-icon>
            </ng-template>
            <ng-template [ngIf]="item?.liked">
              <td-icon
                type="svg"
                name="filledLike"
                class="icon-16"
                className="icon-16 white"
              ></td-icon>
            </ng-template>
          </span>
          <span class="table-icon table-duration" *ngIf="getTimeInMilliseconds(item?.duration)">
            {{ getTimeInMilliseconds(item?.duration) }}
          </span>
          <span class="table-icon evenodd" (click)="showTrackMenu(idx)">
            <td-icon
              type="svg"
              name="evenodd"
              class="icon-16"
              className="icon-16 white"
            ></td-icon>
          </span>
          <td-actions
            className="track"
            [isOpen]="item.menu"
          ></td-actions>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template [ngIf]="tableData?.length === 0">
    <div class="playlist-table-empty">
      <p class="empty-text">
        Sizdin anjinagynyzga ander kosalyk
      </p>
      <div style="position:relative;">
        <td-icon
          class="icon"
          className="icon-20"
          [name]="'search.svg'"
        ></td-icon>
        <input type="text" placeholder="Ander nemese episodtar izdeniz">
      </div>
    </div>
  </ng-template>
</div>
